/* TODO: ADD CSS */
body {
  background-image: url("../css/palm-leaf.png");
}
.brand-logo {
  padding: 10px;
}
.bkg-img {
  background-image: url("../css/sfconservatory-bkg.jpeg");
  background-repeat: no-repeat;
  height: 60%;
  background-size: cover;
}

.homenav {
  padding: 10px;
}

.plant-container {
  margin: 5px;
  padding: 5px;
}
